<div class="b-tabs">
	<ul class="tabs lite-tabs">
		<f:for each="{product.branches}" as="branch">
		<li class=""><a href="#">{branch.label}</a></li>
		</f:for>
	</ul>
	<div class="tab-panes">
		<f:for each="{product.branches}" as="branch">
		<div class="tab-content lite-tab-panes-black">
			<table class="featured">
				<tbody>
				<tr class="tr-even">
					<td><strong>Status</strong></td>
					<td>{branch.status}</td>
				</tr>
				<tr class="tr-odd">
					<td><strong>Release Date</strong></td>
					<td>{branch.releaseDate}</td>
				</tr>
				<tr class="tr-even">
					<td><strong>Latest</strong></td>
					<td>{branch.latestRelase.version} ({branch.latestRelase.releaseDate})</td>
				</tr>
				<tr class="tr-odd">
					<td><strong>PHP version</strong></td>
					<td>{branch.phpVersions}</td>
				</tr>
				<tr class="tr-even">
					<td><strong>MySQL version</strong></td>
					<td>{branch.mysqlVersions}</td>
				</tr>
				<tr class="tr-even">
					<td rowspan="1"><strong>Release notes</strong></td>
					<td rowspan="1"><a
							href="/download/release-notes/typo3-4-5-release-notes/">Release
						notes</a></td>
				</tr>
				<tr class="tr-odd">
					<td><strong>Upgrade instructions</strong></td>
					<td><a href="http://wiki.typo3.org/wiki/Upgrade"
							 target="_blank">Upgrade instructions</a>
					</td>
				</tr>
				<tr class="tr-even">
					<td><strong>Installation</strong></td>
					<td><a
							href="/documentation/document-library/installation/">
						Installation instructions</a></td>
				</tr>
				<tr class="tr-odd">
					<td><strong>GIT repository</strong></td>
					<td><a
							href="{branch.gitUrl}"
							target="_blank">GIT location</a></td>
				</tr>
				</tbody>
			</table>
			<a id="c1985"></a><h4>Downloads {branch.version}</h4>
			<table class="featured">
				<tbody>
				<f:for each="{branch.downloads}" as="download">
				<tr class="tr-even">
					<td>{download.label}</td>
					<td><f:for each="{download.variants}" as="variant"><a href="{variant.url}" target="_blank" class="bu">[{variant.format}]</a>&nbsp;</f:for></td>
				</tr>
				</f:for>
				</tbody>
			</table>
		</div>
		</f:for>
	</div>
</div>