<f:layout name="Default" />

<f:section name="Title">Edit release "{release.name}"</f:section>

<f:section name="Content">
	<f:form action="update" object="{release}" name="release">
		<ol>
			<li>
				<label for="version">Version</label>
				<f:form.textfield property="version" id="version" />
			</li>
		
			<li>
				<label for="date">Date</label>
				<f:form.textfield type="datetime" value="{release.date -> f:format.date(format: 'Y-m-d\TH:i:sP')}" property="date" id="date" />
			</li>
		
			<li>
				<label for="status">Status</label>
				<f:form.textfield property="status" id="status" />
			</li>
		
			<li>
				<f:form.submit value="Update"/>
			</li>
		</ol>
	</f:form>
</f:section>