<f:layout name="Default" />

<f:section name="Title">Release Overview</f:section>

<f:section name="Content">
	<f:if condition="{branches}">
		<f:then>
			<div class="b-tabs">
				<ul class="tabs lite-tabs">
					<f:for each="{branches}" as="branch">
					<li class=""><a href="#">{branch.label}</a></li>
					</f:for>
				</ul>
				<div class="tab-panes">
					<f:for each="{branches}" as="branch">
						<div class="tab-content lite-tab-panes-black">
							<table class="featured">
								<tbody>
								<tr class="tr-even">
									<td><strong>Status</strong></td>
									<td>{branch.status}</td>
								</tr>
								<f:if condition="{branch.firstRelease}">
								<tr class="tr-odd">
									<td><strong>Release Date</strong></td>
									<td><f:format.date format="d.m.Y">{branch.firstRelease.date}</f:format.date></td>
								</tr>
								<tr class="tr-even">
									<td><strong>Latest Version</strong></td>
									<td>
										{branch.latestRelease.version} (<f:format.date format="d.m.Y">{branch.latestRelease.date}</f:format.date>)
									</td>
								</tr>
								<tr class="tr-odd">
									<td><strong>Suported PHP Version</strong></td>
									<td>{branch.phpVersions}</td>
								</tr>
								<tr class="tr-even">
									<td><strong>Supported MySQL version</strong></td>
									<td>{branch.mysqlVersions}</td>
								</tr>
								<f:if condition="{branch.releaseNotesUrl}">
								<tr class="tr-odd">
									<td rowspan="1"><strong>Release Notes</strong></td>
									<td rowspan="1"><a href="{branch.releaseNotesUrl}">Release Notes</a></td>
								</tr>
								</f:if>
								</f:if>
								<tr class="tr-even">
									<td><strong>GIT repository</strong></td>
									<td><a href="{branch.gitUrl}" target="_blank">Git location</a></td>
								</tr>
								</tbody>
							</table>
							<h4>{branch.label} Downloads</h4>
							<f:if condition="{branch.latestRelease}">
								<f:then>
									<table class="featured">
										<tbody>
										<f:for each="{branch.latestRelease.downloads}" as="download">
										<tr class="tr-even">
											<td>
												{download.label} ({branch.latestRelease.version})<f:if condition="{branch.latestRelease.changeLogUri}"><br />
												<a href="{branch.latestRelease.changeLogUri}">Change Log</a></f:if>
											</td>
											<td><f:for each="{download.formats}" as="format"><a href="{format.url}" target="_blank" class="bu">[{format.fileExtension}]</a>&nbsp;</f:for></td>
										</tr>
										</f:for>
										</tbody>
									</table>
								</f:then>
								<f:else>
									<p>There are no downloads available for this release yet.</p>
								</f:else>
							</f:if>
						</div> <!-- tab-content -->
					</f:for>
				</div> <!-- tab-panes -->
			</div> <!-- b-tabs -->
		</f:then>
		<f:else>
			<p>No branches configured yet.</p>
		</f:else>
	</f:if>
</f:section>